
<div class="banner d-flex align-items-center flex-direction-column" style=" height: auto;">

  <div class="container d-flex justify-content-start" >
    <div class="home">
      <h1>Cocktail's name</h1>
<%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :name, placeholder: "Write the name here..."%>

      <div class="btn mt-2 pl-0 mb-4">
        <%= f.button :submit, 'Add your cocktail', class:'dose-btn' %>
      </div>
      <% end %>

    </div>
  </div>
</div>



