<div class="banner-home d-flex  align-items-center">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="home">
      <h1 class=" d-flex align-items-center ">Mister Cocktails</h1>

      <div class="d-flex justify-content-center">
      <%= link_to "Join now", cocktails_path %>
    </div>
    </div>
  </div>
</div>
